body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 9vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form{
    height: 15vh;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.form .input-div{
    border-style: solid !important;
    border-radius: 5px;
    border-width: thin;
    border-color: rgb(58, 58, 58);
    margin-right: 2px;
}

.form .text-input .text-input:focus .text-input:focus:active{
    border-bottom: none !important;
}

.form .error-message{
    color: red;
    font-size: small;
}

.result{
    visibility: hidden;
}